.container{
    border-radius: 10%;
   box-shadow: 0 22px 26px 0 rgba(0,0,0,0.24),0 27px 50px 0 rgba(0,0,0,0.19);
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 50%;
    margin-top: 50px;
    background-color: #424242 ;
    align-items: center;
}

.user_page {
    /*color: black;*/
    text-align: center;
    /*background-color: white;*/
}
 .round {
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    /*border: cadetblue;*/
    /*background: red;*/
}
.round img {
    display: block;
        height: 50%;
        width: 50%; 
min-width: 100%;
min-height: 100%;
}

.header {
    margin-top: 20px;
}
.bold {
    font-size: 2.5vw;
    font-style: bold;
    font-weight: bold;
}

.online {
    font-style: italic;
    color: rgb(162,197,36);
    font-size: 1.5vw;
}
.offline {
    font-style: italic;
    color: rgb(205,68,54);
    font-size: 1.5vw;
}

.main {
    display: block;
    margin-top: 100px;
}
.blue {
    font-size: 3vw;
    color: #448aff;
}

.pink {
    font-size: 3vw;
    color: #f50057;
}